<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat-Detail</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <h4>Chat Room</h4>
    <p>
      Participants:
      <strong>
        <%= chatRoomData.usernames[0] %>, <%= chatRoomData.usernames[1] %>
      </strong>
    </p>
    <p>Created at: <strong><%= chatRoomData.date %></strong></p>

    <div class="detail-bg">
      <div class="chat-screen">
        <% for (let i = 0; i < messageData.length; i++) { %>
        <span></span>
        <% if (user._id.toString() === messageData[i].user.toString()) { %>
        <div class="chat-box mine">
          <span>
            <%= messageData[i].username %>:
            <strong><%= messageData[i].message %></strong>
          </span>
        </div>
        <% } else { %>
        <div class="chat-box">
          <span>
            <%= messageData[i].username %>:
            <strong><%= messageData[i].message %></strong>
          </span>
        </div>
        <% } %> <% } %>
      </div>
    </div>

    <form class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">Enter</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const socket = io();
      socket.emit("ask-to-join", "<%= chatRoomData._id %>");

      document
        .querySelector(".chat-button")
        .addEventListener("click", function () {
          let input = document.querySelector(".chat-input").value;
          socket.emit("send-message", {
            room: "<%= chatRoomData._id %>",
            user: "<%= user._id %>",
            username: "<%= user.username %>",
            message: input,
          });
        });

      socket.on("show-message", (data) => {
        if ("<%= user._id %>" === data.user) {
          document
            .querySelector(".chat-screen")
            .insertAdjacentHTML(
              "beforeend",
              `<div class="chat-box mine"><span>${data.username}: <strong>${data.message}</strong></span></div>`
            );
        } else {
          document
            .querySelector(".chat-screen")
            .insertAdjacentHTML(
              "beforeend",
              `<div class="chat-box"><span>${data.username}: <strong>${data.message}</strong></span></div>`
            );
        }
      });
    </script>
  </body>
</html>
