<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <div class="detail-bg">
      <h4><%= data.title %></h4>
      <p><%= data.content %></p>
      <img src="<%= data.img %>" onerror="this.style.display='none'" />
    </div>
  </body>
</html>
