<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <div class="detail-bg">
      <h4>
        <%= postData.title %>
        <span><%= postData.username %> </span>
      </h4>
      <span>
        <a href="/chat/request?postUser=<%= postData.user %>">
          [Start Chatting]
        </a>
      </span>

      <div class="detail-content">
        <p><%= postData.content %></p>
      </div>

      <img src="<%= postData.img %>" onerror="this.style.display='none'" />

      <div>
        <% if (user && user._id.toString() === postData.user.toString()) { %>
        <a href="/edit/<%= postData._id %>">[Edit]</a>
        <% } %>
      </div>

      <hr />
      <div>
        <% for (let i = 0; i < commentData.length; i++) { %>
        <span></span>
        <% if (user && user._id.toString() === commentData[i].userId.toString())
        { %>
        <p style="color: tomato">
          <%= commentData[i].username %>:
          <strong><%= commentData[i].content %></strong>
        </p>
        <% } else { %>
        <p>
          <%= commentData[i].username %>:
          <strong><%= commentData[i].content %></strong>
        </p>
        <% } %>
        <span></span>
        <% } %>
      </div>

      <form action="/comment" method="POST">
        <input name="content" />
        <input
          name="parentId"
          value="<%= postData._id %>"
          style="display: none"
        />
        <button type="submit">Add a comment</button>
      </form>
    </div>
  </body>
</html>
