<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My-Comments</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <div class="white-bg">
      <% for (let i = 0; i < comments.length; i++) { %>
      <div class="list-box">
        <h4><%= comments[i].content %></h4>
        <p><a href="/detail/<%= comments[i].parentId %>">[See the post]</a></p>
      </div>
      <% } %>
    </div>

    <% for (let i = 1; i <= pages; i++) { %>
    <a class="page" href="/mycomment/<%= i %>">[<%= i %>]</a>
    <% } %>
  </body>
</html>
