<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <div class="detail-bg">
      <h4>username: <%= user.username %></h4>
      <p>
        Total Posts: <%= postCount %>
        <a class="redirection" href="/mylist/1">[See my posts]</a>
      </p>
      <p>
        Total Comments: <%= commentCount %>
        <a class="redirection" href="/mycomment/1">[See my comments]</a>
      </p>
      <p>
        Total Chat Rooms: <%= chatRoomCount %>
        <a class="redirection" href="/chat/list">[See my chat rooms]</a>
      </p>
    </div>
  </body>
</html>
